body {
  margin: 0;
  background-color: black;
  color: white;
}

canvas {
  background: black;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
}

.ik {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.navbar {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.1); /* Adjust the alpha value (fourth parameter) for transparency */
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  margin-right: 40px;
  margin-top: 60px;
}

.head {
  --font-selector: Q1VTVE9NO0dUIFdhbHNoZWltIEZyYW1lciBNZWRpdW0=;
  --framer-font-family: "GT Walsheim Framer Medium", "GT Walsheim Framer Medium Placeholder", sans-serif;
  --framer-font-size: 50px;
  --framer-text-alignment: center;
  --framer-text-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 2;
  font-size: larger;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.head .hea {
  font-family: var(--framer-font-family);
  font-size: var(--framer-font-size);
  letter-spacing: var(--framer-letter-spacing);
  line-height: var(--framer-line-height);
  text-align: var(--framer-text-alignment);
  color: var(--framer-text-color);
}

#t2{
  text-align: start;
}

.l1 {
  margin: 50px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 15px;
}

.navbar a {
  text-decoration: none;
  color: #fefefe;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: rgb(40, 131, 201);
  color: black;
}
#explore1 {
  background-color: #f4f5f7;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  transition: background-color 0.3s ease; /* Adding a smooth transition */
  border: none;
  cursor: pointer;
}

#explore1:hover {
  background-color: #41a3d4; 
  transform: translateX(10px); 

}

.row1{
  border: white solid 2px;
  margin-top: 20px;
}
#dropdownd{
  background-color: black;
  color: white;
  width: 90px;
}
#optd{
  color: white;
}
.exb{
  margin-top: 15px;
}
.ailogo{
  height: 100px;
  width : 120px;
  margin-bottom: 10px;
} 

/* trends */
.trends{
  background-color: rgb(0, 0, 0);
  height: 70px;
  margin-top: 20px;
  border: 5px solid white;
}
#one{
  text-align: start;
}
#two{
  justify-content: end;
  align-items: flex-end;
  display: flex;
}
#twop{
  font-weight: 600;
  font-size: x-large;
  margin: 15px;
  color: white;
}
#eb{
  padding: 5px;
  border-radius: 20px;
  margin: 15px;
  width: 100px;
  color: white;
  background-color: rgb(10, 10, 10);
  transition-duration: 0.5s;
  border: 2px solid white;
}
#eb:hover{
  background-color: white;
  color: black;
}
p{
  color: rgb(14, 14, 14);
}
.col2 {
  background-color: rgb(7, 120, 180);
  margin: 10px;
  transition-duration: 0.5s;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 10px;
  border: 2px solid white;
}

.col2:hover {
  transform: translate(-10px);
}


#imgt {
  width: 50px;
  margin-top: 20px;
  border-radius: 70%;
}

.shop .col-4 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.shop .col-4 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
#special{
  color: rgb(35, 152, 220);
}




/* footer */
.footer{
  background: black;
  color: white;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: white;
}
.footer h3{
  color: white;
  margin-bottom: 20px;
}
.footer-col-1 , .footer-col-2 , .footer-col-3 , .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex : 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3 , .footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}
.app-logo{
  margin-top: 20px;
}
.app-logo img{
  width: 140px;
}
.footer hr {
  border: none;
  background: black;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display:none ;
}
.rowk{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.containerz{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
hr{
  color: #41a3d4;
}

